force-app/main/default/flows/CreateSegProspectFlowTemplateV1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CreateSegmentation</name>
        <label>CreateSegmentation</label>
        <locationX>498</locationX>
        <locationY>406</locationY>
        <actionName>pisplabapp::PLCreateSegmentationV1.CreateSegmentation</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>SendSegmentationProspectRes</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>description</name>
            <value>
                <elementReference>SegmentationProspectInfoRequest.segmentName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>format</name>
            <value>
                <elementReference>format</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>name</name>
            <value>
                <elementReference>SegmentationProspectInfoRequest.segmentName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Pardot-Business-Unit-Id</name>
            <value>
                <elementReference>Pardot_BU_iID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>SegmentationProspectInfoRequest.segmentName</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>SendSegmentationProspectRes</name>
        <label>SendSegmentationProspectRes</label>
        <locationX>728</locationX>
        <locationY>469</locationY>
        <assignmentItems>
            <assignToReference>SegmentationProspectResult.hasError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SegmentationProspectResult.message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AllGood</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <interviewLabel>CreateSegmentUpsertProspectFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CreateSegProspectFlowTemplateV1</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetBU</name>
        <label>GetBU</label>
        <locationX>517</locationX>
        <locationY>229</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateSegmentation</targetReference>
        </connector>
        <object>PardotTenant</object>
        <outputAssignments>
            <assignToReference>Pardot_BU_iID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>410</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>GetBU</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>createout200</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>createSegmentation201</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>format</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>json</stringValue>
        </value>
    </variables>
    <variables>
        <name>our200</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>out</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>out200</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Pardot_BU_iID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>restext</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SegmentationProspectInfoRequest</name>
        <apexClass>pisplabapp__pisplabapp_FlowInputInfo</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SegmentationProspectResult</name>
        <apexClass>pisplabapp__pisplabapp_FlowOutputInfo</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SegmentDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>REPLACE</stringValue>
        </value>
    </variables>
    <variables>
        <name>SegmentName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>REPLACE</stringValue>
        </value>
    </variables>
    <variables>
        <name>SegmentTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>REPLACE</stringValue>
        </value>
    </variables>
    <variables>
        <name>Segres</name>
        <apexClass>ExternalService__pisplabapp__PardotNewSegmentationV1_CreateSegmentationResult</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
