force-app/main/default/flows/PardotCreateSegProspectTemplateV3.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CreateSegmentation</name>
        <label>CreateSegmentation</label>
        <locationX>407</locationX>
        <locationY>204</locationY>
        <actionName>pisplabapp::PLCreateSegmentationV1.CreateSegmentation</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>ParseSegmentationResult</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>description</name>
            <value>
                <elementReference>reqIn.segmentName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>format</name>
            <value>
                <stringValue>json</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>name</name>
            <value>
                <elementReference>reqIn.segmentName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Pardot-Business-Unit-Id</name>
            <value>
                <elementReference>GetBU.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>reqIn.segmentName</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>ParseSegmentationResult</name>
        <label>ParseSegmentationResult</label>
        <locationX>604</locationX>
        <locationY>208</locationY>
        <actionName>pisplabapp_Segmentation</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>AssignSegmentationId</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>payloads</name>
            <value>
                <elementReference>CreateSegmentation.200</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>UpdateProspects</name>
        <label>UpdateProspects</label>
        <locationX>924</locationX>
        <locationY>418</locationY>
        <actionName>pisplabapp_Prospect</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>idLeads</name>
            <value>
                <elementReference>reqIn.idLeads</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>businessUnitId</name>
            <value>
                <elementReference>GetBU.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>segmentListId</name>
            <value>
                <elementReference>SegmentationId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>SegmentationId</assignToReference>
            <name>id</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>isSuccess</assignToReference>
            <name>isSuccess</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>AssignSegmentationId</name>
        <label>AssignSegmentationId</label>
        <locationX>759</locationX>
        <locationY>204</locationY>
        <assignmentItems>
            <assignToReference>SegmentationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ParseSegmentationResult.id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>hasError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateProspects</targetReference>
        </connector>
    </assignments>
    <interviewLabel>PardotCreateSegProspectTemplateV3 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PardotCreateSegProspectTemplateV3</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetBU</name>
        <label>GetBU</label>
        <locationX>178</locationX>
        <locationY>233</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateSegmentation</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PardotTenant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetBU</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>hasError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>reqIn</name>
        <apexClass>pisplabapp__pisplabapp_FlowInputInfo</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SegmentationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
