force-app/main/default/flows/PardotQuickActionFlowTemplateV1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CreateSegmentation</name>
        <label>CreateSegmentation</label>
        <locationX>407</locationX>
        <locationY>204</locationY>
        <actionName>pisplabapp::PLCreateSegmentationV1.CreateSegmentation</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>ParseSegmentationResult</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>description</name>
            <value>
                <elementReference>Segment_Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>format</name>
            <value>
                <stringValue>json</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>name</name>
            <value>
                <elementReference>Segment_Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Pardot-Business-Unit-Id</name>
            <value>
                <elementReference>GetBU.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>Segment_Name</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>ParseSegmentationResult</name>
        <label>ParseSegmentationResult</label>
        <locationX>604</locationX>
        <locationY>208</locationY>
        <actionName>pisplabapp_Segmentation</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>AssignSegmentationId</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>payloads</name>
            <value>
                <elementReference>CreateSegmentation.200</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>UpdateProspects</name>
        <label>UpdateProspects</label>
        <locationX>938</locationX>
        <locationY>262</locationY>
        <actionName>pisplabapp_Prospect</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Finish</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>idLeads</name>
            <value>
                <elementReference>LeadIdList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>businessUnitId</name>
            <value>
                <elementReference>GetBU.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>segmentListId</name>
            <value>
                <elementReference>SegmentationId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>SegmentationId</assignToReference>
            <name>id</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>hasError</assignToReference>
            <name>isSuccess</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>AssignSegmentationId</name>
        <label>AssignSegmentationId</label>
        <locationX>759</locationX>
        <locationY>204</locationY>
        <assignmentItems>
            <assignToReference>SegmentationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ParseSegmentationResult.id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>hasError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateProspects</targetReference>
        </connector>
    </assignments>
    <interviewLabel>PardotQuickActionFlowTemplateV1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PardotQuickActionFlowTemplateV1</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetBU</name>
        <label>GetBU</label>
        <locationX>178</locationX>
        <locationY>233</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Information</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PardotTenant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Finish</name>
        <label>Finish</label>
        <locationX>886</locationX>
        <locationY>599</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FinishMessage</name>
            <fieldText>&lt;p&gt;Congratulations! &lt;/p&gt;&lt;ul&gt;&lt;li&gt;Created a Segment&lt;/li&gt;&lt;li&gt;Added Leads to the Segment&lt;/li&gt;&lt;li&gt;Created Campaign&lt;/li&gt;&lt;li&gt;Added Leads to the Campaign &lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Information</name>
        <label>Information</label>
        <locationX>273</locationX>
        <locationY>431</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateSegmentation</targetReference>
        </connector>
        <fields>
            <name>Segment_Name</name>
            <dataType>String</dataType>
            <fieldText>Segment Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetBU</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>hasError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>LeadIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>reqIn</name>
        <apexClass>pisplabapp__pisplabapp_FlowInputInfo</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SegmentationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
