force-app/main/default/flows/SampleFlowTemplateV1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CreateSegmentation</name>
        <label>CreateSegmentation</label>
        <locationX>538</locationX>
        <locationY>288</locationY>
        <actionName>pisplabapp::kamisegv1.CreateSegmentation</actionName>
        <actionType>externalService</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>description</name>
            <value>
                <elementReference>SegmentDescription</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>format</name>
            <value>
                <elementReference>format</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>name</name>
            <value>
                <elementReference>SegmentName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Pardot-Business-Unit-Id</name>
            <value>
                <elementReference>Pardot_BU_iID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>SegmentTitle</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>createSegmentation201</assignToReference>
            <name>200</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <interviewLabel>SampleFlowTemplateV1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SampleFlowTemplateV1</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetBU</name>
        <label>GetBU</label>
        <locationX>169</locationX>
        <locationY>208</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateSegmentation</targetReference>
        </connector>
        <object>PardotTenant</object>
        <outputAssignments>
            <assignToReference>Pardot_BU_iID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetBU</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>createout200</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>createSegmentation201</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>format</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>json</stringValue>
        </value>
    </variables>
    <variables>
        <name>our200</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>out</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>out200</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Pardot_BU_iID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>restext</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SegmentDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>REPLACE</stringValue>
        </value>
    </variables>
    <variables>
        <name>SegmentName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>REPLACE</stringValue>
        </value>
    </variables>
    <variables>
        <name>SegmentTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>REPLACE</stringValue>
        </value>
    </variables>
    <variables>
        <name>Segres</name>
        <apexClass>ExternalService__pisplabapp__PardotNewSegmentationV1_CreateSegmentationResult</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
